<% if user_signed_in? %>
  <nav class="bg-gray-700 px-4 py-4">
    <div class="container mx-auto flex flex-wrap justify-between items-center">
      <div class="text-white text-3xl font-semibold my-6 md:mb-4 w-full md:w-1/3">
        Ultimate Recipe Assistant
      </div>
      <div class="mb-4 sm:mb-0 flex space-x-4 w-full sm:w-auto text-sm md:text-md">
        <%= link_to "Add Recipe", new_recipe_path, id: "new-recipe", class: "bg-sky-600 text-white font-semibold px-4 py-2 hover:shadow-2xl hover:bg-sky-500 transform transition-transform duration-300 ease-in-out hover:no-underline shadow-2xl shadow-sky-500" %>
        <%= link_to "My Recipes", my_recipes_path, class: "bg-sky-600 text-white font-semibold px-4 py-2 hover:shadow-2xl hover:bg-sky-500 transform transition-transform duration-300 ease-in-out hover:no-underline shadow-2xl shadow-sky-500" %>
        <%= link_to "Public Recipes", public_recipes_path, class: "bg-sky-600 text-white font-semibold px-4 py-2 hover:shadow-2xl hover:bg-sky-500 transform transition-transform duration-300 ease-in-out hover:no-underline shadow-2xl shadow-sky-500" %>
      </div>
      <div class="w-full sm:w-auto">
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "relative md:ml-4 text-white font-semibold w-full px-4 py-2 bg-red-600 hover:bg-red-800 hover:no-underline" %>
      </div>
    </div>
  </nav>
<% end %>

